
<div id="wrapper">
  
    <h1>my task list</h1>


 <%= form_for(@list, remote: true) do |f| %>
 <label for="list_title">Add a new list:</label>
   <%= f.label :title %>
   <%= f.text_field :title %>
   <%= f.submit %>
 <% end %>



  <%= form_for Task.new, remote: true do |f| %>
  <label for="select_list">Select List:</label>
    <%= select('Task', 'List_id', List.all.each{|l| l.title })  %>
    <%= f.label :description %>
    <%= f.text_field :description%>
    <%= f.label :priority %>
    <%= f.text_field :priority%>
    <%= f.submit %>
  <% end %>





</div><!-- #wrapper -->
